.carousel {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    margin: 0 10px;
}

.carousel h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline   red;
}

.carousel-container {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.carousel-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-body h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 14px;
    color: #666;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-button.left {
    left: 8px;
}

.carousel-button.right {
    right: 8px;
}