<nav class="navbar">
    <div class="navbar-container">
        <div  class="navbar-logo">
            <a href="#">Play4Life</a>
        </div>
        <div class="navbar-search">
            <input type="text" placeholder="Search games...">
        </div>
        <div>
            <div class="navbar-categories">
                <button class="dropdown-button">Platforms &#9662;</button>
                <div class="dropdown-content">
                    <a href="#">PS2</a>
                    <a href="#">PS3</a>
                    <a href="#">Wii</a>
                    <a href="#">SEGA</a>
                </div>
            </div>
        
            <div class="navbar-categories">
                <button class="dropdown-button">Categories &#9662;</button>
                <div class="dropdown-content">
                    <a href="#">Horror</a>
                    <a href="#">Action</a>
                    <a href="#">Adventure</a>
                    <a href="#">RPG</a>
                    <a href="#">Sports</a>
                </div>
            </div>
        </div>
    </div>
  </nav>
